.wrapper{
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 1431.05px;
	height: 500px;
}
.queryInput{
	border: solid 1px  #C0C0C0;
	font-size: 18px;
	width: 200px;
	height: 40px;
}
.queryInput:FOCUS {
	outline: 0;
    border: 1px solid   	#00BFFF;
    box-shadow: 0px 0px 3px 0px  #00BFFF;
}
.hideDiv{
	display: none;
}
.pageOperation{
	cursor: pointer;
	
}
.pageOperation:HOVER {
	color:  	#FF0000;
	font-weight:bold;
	transition: all 1.5s;
}
.trHover:HOVER{
	cursor: pointer;
	background-color: 	#E0E0E0; 
}